<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAihHZ4jSRE7gBsMbMK_jizc2yEKQURyME</string>
	<key>GCM_SENDER_ID</key>
	<string>329114685941</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>remi.CalorieTracker</string>
	<key>PROJECT_ID</key>
	<string>calorietracker-559eb</string>
	<key>STORAGE_BUCKET</key>
	<string>calorietracker-559eb.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:329114685941:ios:16270d7dd7aea48e0690bc</string>
</dict>
</plist>